<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>gm</title>
    <link rel="stylesheet" href="{%static "gym.css"%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="lot">
    {% block lot %}
    <form  method="post">
      {%csrf_token%}
      {{form}}
      <input type="submit" name="submit" value="submit">
    </form>
    <br>&nbsp&nbsp&nbsp&nbsp
    <div class="wish">
      {% block wish %}
      <h1>good morning</h1>
      {% endblock %}
    </div>
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2017_31/2091096/170801-alien-extraterrestrial-mn-1210.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong>workout table</strong>
  </a>
  </nav>

    {% if gym %}
      <div class="container">
        <div class="row">
          <table border="2">
            <thead>
              <th>on this day</th>
              <th>do this workout</th>
            </thead>
            {%for i in gym%}
            <tr>
              <td>{{i.day}}</td>
              <td>{{i.workout_name}}</td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <p>still ,table got not uptated</p>
        </div>
      </div>
      {% endif %}
      {% endblock %}
  </body>
</html>
